* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}

body {
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.panel {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    border-radius: 50px;
    color: white;
    margin: auto 10px;
    position: relative;
    flex: 0.5;
    cursor: pointer;
    transition: flex 0.5s ease-in-out;
}

h4 {
    font-size: 2rem;
    position: absolute;
    bottom: 20px;
    left: 15px;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active > h4 {
    opacity: 1;
    transition: opacity 0.3s ease-in;
    text-shadow: 0.4rem 0.4rem 0.4rem black;
}

@media(max-width: 718px) {
    body {
        overflow-x: scroll;
        overflow-y: hidden; 
    }
    .container {
        width: 150vw;
        height: 100vh;
    }
}

@media(max-width: 512px) {
    .container {
        width: 200vw;
        height: 100vh;
    }
}